/* styles.css */

div {
    margin-bottom: 10px; /* Az összes div  */
}

.table-container {
    width: 100%;
    overflow: auto;
    max-height: 245px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-height: 305px;
    font-size: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
}

.elsosor-container {
    display: flex;
    justify-content: space-between; /* Ezzel egymás mellé kerülnek */
    width: 100%;
}

.elso-sor-1div {
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
}

.qr_gomb {
    display: flex;
    border: 2px solid #ddd; /* Szegély a kártyákhoz */
    padding: 1px; /* Belső tér a kártyákon belül */
    margin-right: 10px; /* Külső tér a kártyák körül */
    margin-top:1px
    background-color: #f9f9f9; /* Háttérszín a kártyáknak */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Árnyék a kártyákhoz */
    width:60px;
    height:60px;
    margin-left: auto;

}

.kiadott-kulcsok-szama-div {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    float: right;
    height: 60px;
}

.kiadott-kulcsok-szama {
    font-size: 35px;
    color: gray;
    text-align: left;
    white-space: normal; /* Alapértelmezett szóközök megjelenítése */
}

.piros-kiadott {
     font-size: 35px;
     color: red;
}

.hiba {
    color: red;
}

.piros-keret {
    border: 2px solid red;
}

.ujadat-div {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

.masodiksor-container {
    display: flex; /* Hozzáadva: Az elemek egymás mellé kerülnek */
    justify-content: space-between; /* Az elemek közötti térköz */
    margin-right: 10px;
}

.masodik-kontener-2div-kulcsok {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    margin-left: 10px;
    max-height: 310px; /* Maximális magasság */
    overflow-y: auto; /* Görgethetőség, ha a tartalom nem fér el */
    display: flex; /* Hozzáadva: Az elemek egymás mellé kerülnek */
    flex-wrap: wrap; /* Hozzáadva: Több sorba kerülnek az elemek */
}

/* kulcs kártyák*/

.kulcs-kartya {
    border: 2px solid #ddd; /* Szegély a kártyákhoz */
    padding: 5px; /* Belső tér a kártyákon belül */
    margin: 10px; /* Külső tér a kártyák körül */
    background-color: #f9f9f9; /* Háttérszín a kártyáknak */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Árnyék a kártyákhoz */
    width:140px;
    height:70px;
}

.kulcs-kartya h2 {
    font-size: 18px; /* Betűméret a kulcsszámhoz */
    margin: 0; /* Margin resetelése */
}

.kulcs-kartya p {
    font-size: 14px; /* Betűméret az információhoz */
    margin: 5px 0; /* Margin a bekezdések között */
}

.zold-keret {
    border: 2px solid green;
}

.sarga-keret {
    border: 3px solid yellow;
}

.piros-keret {
    border: 3px solid red;
}

