<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FŐOLDAL</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Kulcsnyilvántartás</h1>

  <div>
      <form method="post" action="{% url 'mentes' %}">
        {% csrf_token %}
        <label for="vezetek_nev"> Vezeték név: </label>
        <br>
        <input type="text" id="vezetek_nev" name="vezetek_nev" required>
        <br>
        <label for="kereszt_nev"> Kereszt név: </label>
        <br>
        <input type="text" id="kereszt_nev" name="kereszt_nev" required>
        <br> <br>
        <label for="kulcs_szama"> A kulcs száma: </label>
        <br>
        <input type="text" id="kulcs_szama" name="kulcs_szama" required>
        <br> <br>
        <input type="submit" id="mentes" value="MENTÉS">
        <br> <br>
    </form>
  </div>

  <div>
    <table>
    <thead>
        <tr>
            <th>Vezeték név</th>
            <th>Kereszt név</th>
            <th>Kulcs száma</th>
            <th>Felvette</th>
            <th>Visszahozta</th>
        </tr>
    </thead>
    <tbody>
        {% for item in nyilvantartas %}
<tr {% if item.visszaadva%} style="background-color: white;"
    {% else %} style="background-color: lightblue;"{% endif %}>

            <td>{{ item.vezetek_nev }}</td>
            <td>{{ item.kereszt_nev }}</td>
            <td>{{ item.kulcs_szama }}</td>
            <td>{{ item.datum }}</td>
            <td>
                {% if item.visszaadva %}
                    {{ item.visszaadva }}
                {% else %}
                    <a href="{% url 'visszaadva' item.pk %}"><input type="button" value="Visszaadva"></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  </div>
</body>
</html>
