<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FŐOLDAL- Nyilvántartás</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>

<div class="elsosor-container">

    <div class="elso-sor-1div">
        <h1>Kulcs nyilvántartás</h1>
    </div>

    <div class="qr_gomb">
        <a href="link.html">
        <img src="static/qr_piros.webp" alt="QR beolvasas" width="59" height="59">
    </a>

    </div>

    <div class="kiadott-kulcsok-szama-div{% if kiadott_kulcsok_szama > 0 %} piros-keret{% endif %}">
        <p>Kiadott kulcsok száma: <span class="{% if kiadott_kulcsok_szama > 0 %} piros-kiadott {% endif %}">{{ kiadott_kulcsok_szama }}</span></p>
    </div>
</div>

<div class="masodiksor-container">
    <div class="ujadat-div">
        <form method="post" action="{% url 'mentes' %}">
            {% csrf_token %}
            <label for="vezetek_nev">Vezetéknév:</label>
            <br>
            <input type="text" id="vezetek_nev" name="vezetek_nev" required>
            <br>
            <label for="kereszt_nev">Keresztnév:</label>
            <br>
            <input type="text" id="kereszt_nev" name="kereszt_nev" required>
            <br><br>
            <label for="kulcs_szam">A kulcs száma:</label>
            <br>
            <input type="text" id="kulcs_szam" name="kulcs_szam" required>
            <br><br>
            <input type="submit" id="mentes" value="MENTÉS">
            <br>
            <div class="hiba">
                {% if messages %}
                <div>
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <br>
        </form>
    </div>
<div class="masodik-kontener-2div-kulcsok">
    {% for kulcs in elerheto_kulcsok %}
        <div class="kulcs-kartya
            {% if kulcs.mennyiseg == kulcs.max_mennyiseg %}
                zold-keret
            {% elif kulcs.mennyiseg < kulcs.max_mennyiseg and kulcs.mennyiseg > 0 %}
                sarga-keret
            {% else %}
                piros-keret
            {% endif %}">
            <div class="kulcs-tartalom" style="width: 100%; height: 100%; position: relative;">
                <h2>{{ kulcs.kulcs_szam }}</h2>
                <p>Elérhető: {{ kulcs.mennyiseg }}</p>
                <p>Összmennyiség: {{ kulcs.max_mennyiseg }}</p>
                <img src="static/kulcs1.png" alt="Kulcs" width="40" height="50" style="position: absolute; top: 0; right: 0;">
            </div>
        </div>
    {% endfor %}
</div>




</div>

<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>Vezetéknév</th>
            <th>Keresztnév</th>
            <th>Kulcs száma</th>
            <th>Felvette</th>
            <th>Visszahozta</th>
        </tr>
        </thead>
        <tbody>
        {% for item in nyilvantartas %}
        <tr {% if item.visszaadva %} style="background-color: white;" {% else %} style="background-color: lightblue;" {% endif %}>
            <td>{{ item.vezetek_nev }}</td>
            <td>{{ item.kereszt_nev }}</td>
            <td>{{ item.kulcs_szam }}</td>
            <td>{{ item.datum }}</td>
            <td>
                {% if item.visszaadva %}
                    {{ item.visszaadva }}
                {% else %}
                    <a href="{% url 'visszaadva' item.pk %}"><input type="button" value="Visszaadva"></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
