<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FŐOLDAL</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Kulcsnyilvántartás</h1>

    <form method="POST" >

        {% csrf_token %}


        <label for="vezetek_nev"> Vezeték név: </label>
        <BR>
        <input type="text" id="vezetek_nev" name="vezetek_nev" required>
        <BR>
        <label for="kereszt_nev"> Kereszt név: </label>
        <BR>
        <input type="text" id="kereszt_nev" name="kereszt_nev" required>
         <BR> <BR>
        <label for="kulcs_szama"> A kulcs száma: </label>
        <BR>
        <input type="text" id="kulcs_szama" name="kulcs_szama" required>
         <BR>   <BR>
        <input type="submit" id="mentes" value="MENTÉS">

        <BR> <BR>
    </form>

    <table>
        <thead>
            <tr>
                <th>Vezeték név</th>
                <th>Kereszt név</th>
                <th>Kulcs száma</th>
                <th>Felvette</th>
            </tr>
        </thead>
        <tbody>
            {% for nyilvantartas in nyilvantartas %}
            <tr>
                <td>{{ nyilvantartas.vezetek_nev }}</td>
                <td>{{ nyilvantartas.kereszt_nev }}</td>
                <td>{{ nyilvantartas.kulcs_szama }}</td>
                <td>{{ nyilvantartas.datum }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
